<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name>RogueCast</name>
  <service>
    <type>_googlecast._tcp.</type>
    <port>32001</port>
    <txt-record>id=roguecast1234</txt-record>
    <txt-record>ve=05</txt-record>
    <txt-record>md=RogueCast</txt-record>
    <txt-record>ic=/setup/icon.png</txt-record>
    <txt-record>fn=RogueCast</txt-record>
    <txt-record>st=0</txt-record>
    <txt-record>nf=1</txt-record>
    <txt-record>rs=</txt-record>
    <txt-record>rm=</txt-record>
  </service>
</service-group>
